#commentsHeader {
      border-bottom: 1px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;
      direction: rtl;
      font-weight: bold;
      background-color: #fff;
      width: 100%;
      margin: 0 auto;
      /* margin-bottom: 50px;  */

}

#commentsHeader div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      border-left: 1px solid gray;
      width: calc(100% / 3);
      
}

#commentsHeader div:last-of-type {
      border-left: none;
}