
.total-register-fields {
      height: 100%;
      /* display: flex; */
      /* margin: auto; */
      /* flex-direction: row; */
      /* justify-content: space-between; */
      /* justify-content: center; */
      /* align-items: center; */
      /* padding: 30px; */
}

.register-type-fields {
      font-size: 20px;
      color: aliceblue;
      margin-top: 10px;
      
}


.register-fields-container {
      display: flex;
      flex-flow: row wrap;
      justify-content:space-around;
      height: 80%;
      width: 100%;
}

.button-register-container {
     text-align: center;
     margin-bottom: 10%;
      
}

.button-register {
      width: 120px;
      height: 60px;
      font-size: 25px;
}

.input-style {
      width: 400px;
}


@media screen and (max-width:800px) {
      .register-fields-container {
            width: 80%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            margin: auto;
      }
      .register-fields-left {
            display: flex;
            flex-flow: column wrap;
            width: 80%;
            margin: auto;
            justify-content: center;
            align-items: center;
      }
      .register-type-fields {
            font-size: 10px;
      }
      .input-style {
            width: 80%;
      }
}

