.manager-signin {
      background: url('../../images/managerstatus.jpg');
      background-size: cover;
      background-repeat: no-repeat;

      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
}