.search-field {
      margin: 10px;
      width: 100%;
      height: 50px;
      border-radius: 25px;
      outline: none;
      direction: rtl;
}

.search-fields {
      display: flex;
      flex-direction: column;
}

@media screen and (max-width: 800px) {
      .search-field {
            display: flex;
      }
      .search-fields {
            width: 80%;
      }
}