.search-field {
      margin: 10px;
      width: 100%;
      height: 50px;
      border-radius: 25px;
      outline: none;
      direction: rtl;
}

.search-fields {
      display: flex;
      flex-direction: column;
}
