.manager-page {
      background: url('../../images/registerbackground.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      height: 100%;
}