#managerDashboard {
      background-image: url('../../images/registerbackground.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
}