.register-button {
      background-color: #17202A;
      height: 50px;
      width: 150px;
      margin-top: 25px;
      margin-right: 10px;
}

.register-button:hover, ::after {
      background-color: black;
}

.modal-style {
      background-color: #85929E;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

}

.modal-style-field {
      margin-top: 20px;
}
