#purchaseFoodContainer {
      border: 1px solid brown;
      background-image: url('../../images/purchase.jpg');
      width: 60%;
      height: 60%;
      direction: rtl;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      
      border-radius: 10px;
}

.purchaseFoodField {
      width: 35%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      background-color:brown;
      border-radius: 10px;
      padding: 10px;
}

.purchaseFoodFieldImage {
      width: 200px;
      border-radius: 10px;
      padding: 5px;
}
