.purchaseFood {
      background-image: url('../../images//delivery.jpg');
      background-size: cover;
      background-repeat: no-repeat;

      
      display: flex;
      justify-content: center;
      align-items: center;

}